
body {
background-color: black;
}

.audio {
  display: block;
  margin: auto;
  width: anything under 100%
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.navbar {
  display: flex;
  overflow: hidden;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  justify-content: space-around;


}

.navbar a {
  background-color: #ffffff;
    /* padding: 18px 22px; */
}
a {
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
  color: black;
  font-family: 'Open Sans', sans-serif;
}



.songs{
  display: flex;
  justify-content: center;
  bottom: 400px;
  margin: 200px;
}

iframe {
  width: 400px;
  height: 200px;
}

.buttons {
  display: flex;
  flex-direction: row
  justify-content: space-around;
  justify-content: space-between;
  display: flex;
  margin: 4px 2px;
  padding: 1em;
}

.drums {
  border-radius: 50%;
  padding: 2em;
  cursor: pointer;
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}



@media (min-width: 600px) {
 body {
   background-color: black;
 }
}
=======
/* iframe {
  width: 500px;
  height: 500px;
} */
