* {
  background-color: pink;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

body {
background: black;
}

iframe {
  width: 400px;
  height: 200px;
}

.buttons {
  display: flex;
  flex-direction: row
  justify-content: space-around;
  justify-content: space-between;
  background-color: white;
  display: flex;
  margin: 4px 2px;
   padding: 1em;
}

.drums {
  border-radius: 50%;
}
